{% extends 'base.html.twig' %}

{% block body %}
    <h3>List of Servers</h3>

    <div id="accordion">
        <div class="card" {{ stimulus_controller('filter') }}>
            <div class="card-header" id="headingFilter">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" {{ stimulus_action('filter', 'expand') }}>
                        Filters
                    </button>
                </h5>
            </div>
            <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter" data-parent="#accordion">
                <div class="card-body">
                    {# TODO add form for filtering #}
                    <form action="{{ path('app_server_item_list_filter') }}" method="post">
                        <div class="form-group" id="formFilterRam">
                            {% for ramValue in defaultFilterValues.ram %}
                                <label class="checkbox-inline"><input type="checkbox" value="">{{ ramValue }} GB</label>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="formFilterSelectStorageType">Storage type:</label>
                            <select class="form-control" id="formFilterSelectStorageType">
                                {% for storageType in defaultFilterValues.storageType %}
                                    <option>{{ storageType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="formFilterSelectLocation">Storage type:</label>
                            <select class="form-control" id="formFilterSelectLocation">
                                {% for location in defaultFilterValues.location %}
                                    <option>{{ location }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-info">Filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">RAM</th>
                <th scope="col">HDD</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for serverItem in serverItems %}
                <tr>
                    <th scope="row">{{ serverItem.getId() }}</th>
                    <td>{{ serverItem.getModel() }}</td>
                    <td>{{ serverItem.getRamConcatenated() }}</td>
                    <td>{{ serverItem.getHddConcatenated() }}</td>
                    <td>{{ serverItem.getLocation() }}</td>
                    <td>{{ serverItem.getPriceConcatenated() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
