{% extends 'base.html.twig' %}

{% block body %}
    <h3>List of Servers</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">RAM</th>
                <th scope="col">HDD</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for server_item in server_items %}
                <tr>
                    <th scope="row">{{ server_item.getId() }}</th>
                    <td>{{ server_item.getModel() }}</td>
                    <td>{{ server_item.getRamConcatenated() }}</td>
                    <td>{{ server_item.getHddConcatenated() }}</td>
                    <td>{{ server_item.getLocation() }}</td>
                    <td>{{ server_item.getPriceConcatenated() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
