{% extends 'base.html.twig' %}

{% block body %}
    <h3>List of Servers</h3>

    <div id="accordion">
        <div class="card" {{ stimulus_controller('filter') }}>
            <div class="card-header" id="headingFilter">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" {{ stimulus_action('filter', 'expand') }}>
                        Filters
                    </button>
                </h5>
            </div>
            <div id="collapseFilter" class="collapse" aria-labelledby="headingFilter" data-parent="#accordion">
                <div class="card-body">
                    {# TODO add form for filtering #}
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">RAM</th>
                <th scope="col">HDD</th>
                <th scope="col">Location</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for server_item in server_items %}
                <tr>
                    <th scope="row">{{ server_item.getId() }}</th>
                    <td>{{ server_item.getModel() }}</td>
                    <td>{{ server_item.getRamConcatenated() }}</td>
                    <td>{{ server_item.getHddConcatenated() }}</td>
                    <td>{{ server_item.getLocation() }}</td>
                    <td>{{ server_item.getPriceConcatenated() }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
